



 
 <section class="final-images">
  <img src="/assets/interior1.jpg" class="select-images" width="210" height="210">
  <img src="/assets/exterior1.jpg" class="select-images" width="210" height="210">
  <img src="/assets/culture2.jpg" class="select-images" width="210" height="210">
  <img src="/assets/amenities2.jpg" class="select-images" width="210" height="210">
 </section>










