

 
 <section class="final-images">
  <img src="interior1.jpg" class="select-images" width="210" height="210">
  <img src="exterior1.jpg" class="select-images" width="210" height="210">
  <img src="culture2.jpg" class="select-images" width="210" height="210">
  <img src="amenities2.jpg" class="select-images" width="210" height="210">
 </section>
